{{!-- Layout base --}}
<!doctype html>
<html lang="en">

<head>
	<title>
		{{#if title}}
			{{title}}
		{{else}}
			{{!-- default title --}}
		{{/if}}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/_styles/_lib/normalize.css">
	<link rel="stylesheet" type="text/css" href="/_styles/main.css">
	<script src="/_scripts/template.js" async></script>

	{{#> head-block}}
	       {{!-- Custom <head> content per page could be added. --}}
	{{/head-block}}

</head>

<body>
	<div class="top-level-content" id="navbar-wrapper">
	    <div id="navbar-collapser">
	    </div>
	    <nav id="navbar">
	        <ul class="navbar-content internal-links">
	        	<li><a href="/">{{> includes/svg_site-logo }}</a></li>
	            <li><a href="mailto:hello@devindodson.com">Contact</a></li>
	            <li><a href="/about-me">About</a></li>
	            <li><a href="/resume/Devin-Dodson-resume.pdf">Résumé</a></li>
	        </ul>
	        <ul class="navbar-content external-links">
	            <li><a href="{{hbData.github}}" target="_blank">Github</a></li>
	            <li><a href="{{hbData.linkedIn}}" target="_blank">LinkedIn</a></li>
	        </ul>
	    </nav>
	</div>
	</div>
	<div class="top-level-content" id="page">
		{{#> main-block}}
		{{!-- Main content goes here. --}}
		{{/main-block}}
	<footer>
		<div class="wrap">
			<div class="primary-content">

				{{#> attributions-block }}
				{{/attributions-block }}

			<a class="site-source" href="{{hbData.site-source}}" title="Site source code available on Github" target="_blank">&lt;/&gt;
	        </a>
			<div class="horizontal-rule">
			</div>
			<div id="copyright">Copyright © <span id="current-year">2017</span> - Devin Dodson - All Rights Reserved</div>
			</div>
		</div>
	</footer>

	</div>
</body>

</html>